# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python egg info
*.egg-info/
dist/
build/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Notebooks (si tu veux les exclure, décommente la ligne)
# notebooks/

# SQL dumps or backups
*.sql
*.sqlite3